#table {
    min-width: 100%;
    max-width: 100vh;
    overflow-x: auto;

    table {
        width: 100%;
        border-radius: 24px;

        thead {
            background: rgba(255, 255, 255, 0.15);
            }
    }

    table,
    th,
    td {
        border: 1px solid rgba(197, 197, 197, 0.323);
        border-collapse: collapse;
        text-align: center;
    }

    th,
    td {
        padding: 12px;
    }
}